<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WepPro64070165</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <div id="app">
        <section class="hero is-info has-text-centered is-medium">
            <!-- navigation bar -->
            <nav class="navbar" role="navigtion" aria-label="main navigation">
                <div id="navbar1" class="navbar-menu">
                    <div class="navbar-start has-background-info-dark">
                        <a class="navbar-item has-text-centered" @click="goHome()">
                            Home
                        </a>
                    </div>
                </div>
            </nav>
            <div class="hero-body">
                <p class="title">
                    Elden ring
                </p>
                <p class="subtitle">
                    FromSoftware Inc.
                </p>
            </div>
        </section>


        <div class="columns">
            <div class="column is-8 is-offset-2">
                <p class="title">Summary</p>
                <p class="has-text-centered">Hogwarts Legacy is an immersive, open-world action RPG set in the world
                    first introduced in the Harry Potter books. For the first time, experience Hogwarts in the 1800s.
                    Your character is a student who holds the key to an ancient secret that threatens to tear the
                    wizarding world apart. Now you can take control of the action and be at the center of your own
                    adventure in the wizarding world. Your legacy is what you make of it.<br><br>

                    <strong>NIGHT CITY CHANGES EVERY BODY</strong><br>
                    Cyberpunk 2077 is an open-world, action-adventure story set in Night City, a megalopolis obsessed
                    with power, glamour and body modification. You play as V, a mercenary outlaw going after a
                    one-of-a-kind implant that is the key to immortality. You can customize your character's cyberware,
                    skillset and playstyle, and explore a vast city where the choices you make shape the story and the
                    world around you.<br><br>

                    <strong>CREATE YOUR OWN CYBERPUNK</strong><br>
                    Become an urban outlaw equipped with cybernetic enhancements and build your legend on the streets of
                    Night City.<br><br>

                    <strong>EXPLORE THE CITY OF THE FUTURE</strong><br>
                    Night City is packed to the brim with things to do, places to see, and people to meet. And it's up
                    to you where to go, when to go, and how to get there.<br><br>

                    <strong>BUILD YOUR LEGEND</strong><br>
                    Go on daring adventures and build relationships with unforgettable characters whose fates are shaped
                    by the choices you make.<br><br>
                </p>
                <div class="field">
                    <label class="label">Leave a review</label>
                    <div class="control">
                        <input class="input column is-one-quarter" type="text" placeholder="Name" v-model="name"><br>
                        <textarea class="textarea" placeholder="Write something" v-model="reviewText"></textarea><br>
                        <a class="button is-primary" @click="addReview(games[2])">Submit</a>
                    </div>
                </div>
                <p class="title">Reviews</p>
                <div id="card-review" class="column" v-for="review in games[2].reviews">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <p class="title">{{review.name}}</p>
                                <p class="subtitle">{{review.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./script.js"></script>
</body>

</html>