<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WepPro64070165</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <div id="app">
        <section class="hero is-info has-text-centered is-medium">
            <!-- navigation bar -->
            <nav class="navbar" role="navigtion" aria-label="main navigation">
                <div id="navbar1" class="navbar-menu">
                    <div class="navbar-start has-background-info-dark">
                        <a class="navbar-item has-text-centered" @click="goHome()">
                            Home
                        </a>
                    </div>
                </div>
            </nav>
            <div class="hero-body">
                <p class="title">
                    Elden ring
                </p>
                <p class="subtitle">
                    FromSoftware Inc.
                </p>
            </div>
        </section>


        <div class="columns">
            <div class="column is-8 is-offset-2">
                <p class="title">Summary</p>
                <p class="has-text-centered">In the Lands Between ruled by Queen Marika the Eternal,
                    the Elden Ring, the source of the Erdtree, has been shattered.<br><br>

                    Marika's offspring, demigods all, claimed the shards of the Elden Ring known as the Great Runes,
                    and the mad taint of their newfound strength triggered a war: The Shattering.<br><br>

                    A war that meant abandonment by the Greater Will.<br><br>

                    And now the guidance of grace will be brought to the Tarnished
                    who were spurned by the grace of gold and exiled from the Lands Between.<br><br>

                    Ye dead who yet live, your grace long lost,
                    follow the path to the Lands Between beyond the foggy sea
                    to stand before the Elden Ring.<br><br>

                    And become the Elden Lord.<br><br>
                </p>
                <div class="field">
                    <label class="label">Leave a review</label>
                    <div class="control">
                        <input class="input column is-one-quarter" type="text" placeholder="Name" v-model="name"><br>
                        <textarea class="textarea" placeholder="Write something" v-model="reviewText"></textarea><br>
                        <a class="button is-primary" @click="addReview(games[0])">Submit</a>
                    </div>
                </div>
                <p class="title">Reviews</p>
                <div id="card-review" class="column" v-for="review in games[0].reviews">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <p class="title">{{review.name}}</p>
                                <p class="subtitle">{{review.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./script.js"></script>
</body>

</html>